main {
  background: black;
  height: 100% !important;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes logo-left {
  0% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}

@keyframes kenburns-bottom-right {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 84%;
  }
  100% {
    transform: scale(1.25) translate(20px, 15px);
    transform-origin: right bottom;
  }
}

.back1,
.back1-2 {
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
  background-color: black !important;
}

.back1-2 {
  background-color: black !important;
}

.back2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.back3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

footer {
  background-color: black !important;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
